@font-face
  font-family "FancyFont"
  src url(fonts/Fancy_Not.ttf)

.row-fluid
  position relative
  width 100%
  background #32261f


body
  background rgba(#eedca3, 0.61)
button
  align-self center
  background transparent
  padding 1rem 1rem
  margin 0 1rem
  transition all .5s ease
  color #41403E
  font-size 2rem
  letter-spacing 1px
  outline none
  box-shadow 20px 38px 34px -26px hsla(0,0%,0%,.2)
  border-radius 255px 15px 225px 15px/15px 225px 15px 255px
  &:hover
    box-shadow 2px 8px 4px -6px hsla(0, 5%, 6%, 0.3);
  &.cool-btn
    border solid 1px #41403E
a
  text-decoration none
  color #062619

.content-wrapper
  position relative
  margin 0 auto
  .row
    .pillar
      .desc
        .title-desc
          position relative
          font-family "FancyFont"
          margin 0 auto
          color #32261f
          padding-top 1em
          padding-bottom 1em
          font-size 200%
        .desc-content
          position relative
          color #32261f
          .para-desc
            // background red
            padding-left 12%
            text-align justify
            font-family "FancyFont"
            font-size 120%
          .para-subtitle
            padding-top 1em
            padding-bottom 1em
            font-size 150%
            text-align center
          .para-code
            font-size 90%
            font-style italic
            padding-top .7em
            padding-bottom .7em
